<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Counter</title>
</head>
<body>
    <div class="display">


        <h1 class="title">Counter</h1>
        
    </div>

    <h3 class="display_counter"> {{session["count"]}} </h3>

    <div class="main_display">    
        
        <form action="/count" method="post">
            <button type="submit" class="click_button" name="alter" value="add">add +2</button>
            <button type="submit" class="clear_button" name="alter" value="reset">clear counter</button>
        </form>

    </div>
</body>
</html>